<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.cdt.core.language">
         <language
         	class ="nodamushi.cdt.parser.sdcc.SDCCLanguage"
         	id="nodamushi_sdcc"
         	name="SDCC">
	         <contentType id="org.eclipse.cdt.core.cSource"/>
    	     <contentType id="org.eclipse.cdt.core.cHeader"/>
         </language>
   </extension>

</plugin>
